/* CUSTOM PROPERTIES
---------------------------- */
:root {
  --deepgreen: #366473;
  --lightgreen: #0091a0;
  --color-dark: var(--deepgreen);
  --color-light: var(--lightgreen);
  /* 
  --font-family: 'Arial, sans-serif';
  --background-color: #f9f9f9;
  --text-color: #333333;
  --header-font-size: 2rem;
  --body-font-size: 1rem;
  --spacing-unit: 1rem; */
}

/* Global Styles
------------------------------ */

/* Header
------------------------------- */

/* Preparatin Time 
-------------------------------  */

/* Ingredients
---------------------------------- */

/* Instructions
------------------------------------ */

/* Notes
-------------------------------------- */

/* Nutritional Information
--------------------------------------- */

/* Footer 
-------------------------------*/
