/* CUSTOM PROPERTIES
---------------------------- */
:root {
  --deepgreen: #366473;
  --lightgreen: #0091a0;
  --color-dark: var(--deepgreen);
  --color-light: var(--lightgreen);
  --font-family: "Arial, sans-serif";
}

/* Global Styles
------------------------------ */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: var(--color-dark);
  line-height: 1.6;
}

/* Header
------------------------------- */

/* Preparatin Time 
-------------------------------  */

/* Ingredients
---------------------------------- */

/* Instructions
------------------------------------ */

/* Notes
-------------------------------------- */

/* Nutritional Information
--------------------------------------- */

/* Footer 
-------------------------------*/
